export(get_parsimony_stat)
export(get_similarity_matrix)
export(get_supported_node)
importFrom(utils, readLines)
importFrom(utils, read.delim)
importFrom(utils, read.table)
importFrom(utils, read.csv)
importFrom(utils, read.csv2)
importFrom(utils, read.delim2)
importFrom(utils, read.fwf)
importFrom(utils, readClipboard)
importFrom(utils, readClipboard)
importFrom(utils, readClipboard)
importFrom(utils, readClipboard)
importFrom(utils, readClipboard)
importFrom(utils, readClipboard)
importFrom(utils, readClipboard)
importFrom(utils, readClipboard)
importFrom(utils, readClipboard)
importFrom(utils, readClipboard)
importFrom(utils, readClipboard)
importFrom(utils, readClipboard)
importFrom(utils, readClipboard)